<h1>Welcome to Let's Play Scrabble</h1>
<form action="/scrabble">
  <div class="form-group">
     <label for="scrabble">What is your word?</label>
     <input id="scrabble" name="scrabble" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
